@keyframes rain {
  0% {
    background-position: 0px 0px;
  }

  100% {
    background-position: 500px 1000px;
  }
}

@-webkit-keyframes rain {
  0% {
    background-position: 0px 0px;
  }

  100% {
    background-position: 500px 1000px;
  }
}

.effect-rain {
  background-image: url("https://w.ladicdn.com/s450x400/6446a909ce8883001284c7a2/traitim-size2-20231213075433-pjmzq.png");
  -webkit-animation: rain 2s linear infinite;
  animation: rain 2s linear infinite;
}

@keyframes sparkle {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px;
  }

  100% {
    background-position: -500px -1000px, -400px -400px, 300px 300px;
  }
}

@-webkit-keyframes sparkle {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px;
  }

  100% {
    background-position: -500px -1000px, -200px -400px, 300px 300px;
  }
}

.effect-sparkle {
  background-image: url("https://w.ladicdn.com/s550x550/6446a909ce8883001284c7a2/sparkle1-20231210061725-zdcce.png"),
    url("https://w.ladicdn.com/s550x550/6446a909ce8883001284c7a2/sparkle2-20231210061725-kp_vi.png");
  -webkit-animation: sparkle 60s linear infinite;
  animation: sparkle 60s linear infinite;
}

@keyframes glass {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px;
  }

  100% {
    background-position: 500px 1000px, 400px 400px;
  }
}

@-webkit-keyframes glass {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px;
  }

  100% {
    background-position: 500px 1000px, -400px -400px;
  }
}

.effect-sliding-glass {
  background-image: url("../img/effects/glass1.png"),
    url("../img/effects/glass2.png");
  -webkit-animation: glass 30s linear infinite;
  animation: glass 30s linear infinite;
}

@keyframes confetti {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px;
  }

  100% {
    background-position: 500px 1000px, 400px 400px, 300px 300px;
  }
}

@-webkit-keyframes confetti {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px;
  }

  100% {
    background-position: 500px 1000px, 400px 400px, 300px 300px;
  }
}

.effect-confetti {
  background-image: url("../img/effects/confetti1.png"),
    url("../img/effects/confetti2.png");
  -webkit-animation: confetti 10s linear infinite;
  animation: confetti 10s linear infinite;
}

@keyframes snow {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px;
  }

  100% {
    background-position: 500px 1000px, 400px 400px, 300px 300px;
  }
}

@-webkit-keyframes snow {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px;
  }

  100% {
    background-position: 500px 1000px, 400px 400px, 300px 300px;
  }
}

.effect-snow {
  background-image: url("https://w.ladicdn.com/s550x450/6446a909ce8883001284c7a2/traitim-size2-20231213080553-0bimd.png");
  -webkit-animation: snow 40s linear infinite;
  animation: snow 40s linear infinite;
}

/* // Dresscode */
#SECTION241 > .ladi-section-background {
  background-color: rgb(255, 255, 255);
}

#SECTION241 {
  border-bottom: 2px solid rgb(97, 135, 104);
}

#HEADLINE1031 > .ladi-headline:hover {
  opacity: 1;
}

#HEADLINE1031.ladi-animation > .ladi-headline {
  animation-name: fadeInDown;
  animation-delay: 1s;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

#HEADLINE1031 > .ladi-headline {
  font-family: MTUgLSBCbGzdGEgUNyaXBLnRZg;
  line-height: 1.6;
  color: rgb(97, 135, 104);
  text-align: center;
  font-family: MTUgLSBCbGzdGEgUNyaXBLnRZg;
  line-height: 1.6;
  color: rgb(97, 135, 104);
  text-align: center;
}

#BOX641 {
  top: 0px;
  left: 0px;
}

#BOX641 > .ladi-box:hover,
#BOX651 > .ladi-box:hover,
#BOX661 > .ladi-box:hover,
#BOX671 > .ladi-box:hover,
#BOX681 > .ladi-box:hover {
  opacity: 1;
}

#BOX641 > .ladi-box {
  background-color: rgb(255, 255, 255);
}
#BOX641.ladi-animation > .ladi-box {
  animation-name: bounceIn;
  animation-delay: 1s;
  animation-duration: 1s;
  animation-iteration-count: 1;
}
#BOX641 > .ladi-box,
#BOX651 > .ladi-box {
  border-width: 0px;
  border-radius: 112px;
  border-color: rgb(43, 62, 101);
}

#BOX641 > .ladi-box,
#BOX651 > .ladi-box,
#BOX661 > .ladi-box,
#BOX671 > .ladi-box,
#BOX681 > .ladi-box {
  box-shadow: rgb(0, 0, 0) 0px 0px 28px -15px;
}
#BOX651 > .ladi-box {
  background-color: rgb(185, 216, 243);
}

#BOX651.ladi-animation > .ladi-box {
  animation-name: bounceIn;
  animation-delay: 1.2s;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

#BOX661 > .ladi-box,
#BOX671 > .ladi-box,
#BOX681 > .ladi-box {
  border-width: 2px;
  border-radius: 112px;
  border-color: rgb(43, 62, 101);
}

#BOX661 > .ladi-box {
  background-color: rgb(250, 217, 237);
}

#BOX661.ladi-animation > .ladi-box,
#HEADLINE1041.ladi-animation > .ladi-headline {
  animation-name: bounceIn;
  animation-delay: 1.4s;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

#BOX671 > .ladi-box {
  background-color: rgb(240, 211, 189);
}

#BOX671.ladi-animation > .ladi-box {
  animation-name: bounceIn;
  animation-delay: 1.6s;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

#BOX681 > .ladi-box {
  background-color: rgb(0, 0, 0);
}

#BOX681.ladi-animation > .ladi-box,
#HEADLINE1061.ladi-animation > .ladi-headline {
  animation-name: bounceIn;
  animation-delay: 1.8s;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

#PARAGRAPH1171 > .ladi-paragraph {
  font-style: italic;
  line-height: 1.6;
  color: rgb(97, 135, 104);
  text-align: center;
  font-size: 16px;
}

#HEADLINE1041 > .ladi-headline,
#HEADLINE1051 > .ladi-headline,
#HEADLINE1061 > .ladi-headline,
#HEADLINE1071 > .ladi-headline,
#HEADLINE1081 > .ladi-headline {
  color: rgb(97, 135, 104);
  text-align: center;
}

#HEADLINE1051.ladi-animation > .ladi-headline {
  animation-name: bounceIn;
  animation-delay: 1.6s;
  animation-duration: 1s;
}

#HEADLINE1081.ladi-animation > .ladi-headline {
  animation-name: bounceIn;
  animation-delay: 2.2s;
  animation-duration: 1s;
}

@media (min-width: 768px) {
  #SECTION241 {
    height: 542.6px;
  }
  #HEADLINE1031 {
    width: 482px;
    top: 69.8798px;
    left: 239px;
  }
  #HEADLINE1031 > .ladi-headline {
    font-size: 70px;
  }
  #GROUP1791 {
    width: 493.587px;
    height: 120px;
    top: 291.8px;
    left: 233.207px;
  }
  #BOX641,
  #BOX651,
  #BOX661,
  #BOX671,
  #BOX681 {
    width: 120px;
    height: 120px;
  }
  #BOX651 {
    left: 91.5094px;
  }

  #BOX661 {
    left: 184.478px;
  }

  #BOX671 {
    left: 279.436px;
  }

  #BOX681 {
    left: 373.587px;
  }
  #PARAGRAPH1171 {
    width: 495px;
    top: 181.88px;
    left: 232.5px;
  }

  #HEADLINE1041,
  #HEADLINE1051,
  #HEADLINE1061,
  #HEADLINE1071,
  #HEADLINE1081 {
    width: 81px;
  }

  #HEADLINE1041 {
    top: 437px;
    left: 247px;
  }

  #HEADLINE1041 > .ladi-headline,
  #HEADLINE1051 > .ladi-headline,
  #HEADLINE1061 > .ladi-headline,
  #HEADLINE1071 > .ladi-headline,
  #HEADLINE1081 > .ladi-headline {
    font-size: 18px;
    line-height: 1.1;
  }

  #HEADLINE1051 {
    top: 437px;
    left: 343.25px;
  }

  #HEADLINE1061 {
    top: 437px;
    left: 439.5px;
  }

  #HEADLINE1071 {
    top: 437px;
    left: 535.75px;
  }

  #HEADLINE1081 {
    top: 437px;
    left: 632px;
  }
}

@media (max-width: 768px) {
  #SECTION241 {
    height: 363px;
  }
  #HEADLINE1031 {
    width: 400px;
  }
  #HEADLINE1031 {
    top: 42px;
    left: 9.5px;
  }
  #HEADLINE1031 > .ladi-headline {
    font-size: 50px;
  }
  #GROUP1791 {
    width: 333.171px;
    height: 81px;
    top: 188.003px;
    left: 43.4865px;
  }
  #BOX641,
  #BOX651,
  #BOX661,
  #BOX671,
  #BOX681 {
    width: 80.9999px;
    height: 81px;
  }

  #BOX651 {
    left: 61.7687px;
  }

  #BOX661 {
    left: 124.523px;
  }

  #BOX671 {
    left: 188.619px;
  }

  #BOX681 {
    left: 252.171px;
  }

  #PARAGRAPH1171 {
    top: 122px;
    left: 37.572px;
  }

  #HEADLINE1041,
  #HEADLINE1051,
  #HEADLINE1061,
  #HEADLINE1071,
  #HEADLINE1081 {
    width: 63px;
  }

  #HEADLINE1041 {
    top: 280.99px;
    left: 43.486px;
  }

  #HEADLINE1041 > .ladi-headline,
  #HEADLINE1051 > .ladi-headline,
  #HEADLINE1061 > .ladi-headline,
  #HEADLINE1071 > .ladi-headline,
  #HEADLINE1081 > .ladi-headline {
    font-size: 14px;
    line-height: 1.6;
  }

  #HEADLINE1051 {
    top: 280.99px;
    left: 109.736px;
  }

  #HEADLINE1061 {
    top: 280.99px;
    left: 175.986px;
  }

  #HEADLINE1071 {
    top: 280.99px;
    left: 242.236px;
  }

  #HEADLINE1081 {
    top: 280.99px;
    left: 308.486px;
  }
}

/* "HEADLINE103":{"option.is_product_mapping_name_custom":true,"a":"headline","F":"fadeInDown","C":"1s"}, "BOX64":{"a":"box","F":"bounceIn","C":"1s"},"BOX65":{"a":"box","F":"bounceIn","C":"1.2s"},"BOX66":{"a":"box","F":"bounceIn","C":"1.4s"},"BOX67":{"a":"box","F":"bounceIn","C":"1.6s"},"BOX68":{"a":"box","F":"bounceIn","C":"1.8s"},"PARAGRAPH117":{"option.is_product_mapping_name_custom":true,"a":"paragraph"},"HEADLINE104":{"option.is_product_mapping_name_custom":true,"a":"headline","F":"bounceIn","C":"1.4s"},"HEADLINE105":{"option.is_product_mapping_name_custom":true,"a":"headline","F":"bounceIn","C":"1.6s"},"HEADLINE106":{"option.is_product_mapping_name_custom":true,"a":"headline","F":"bounceIn","C":"1.8s"},"HEADLINE107":{"option.is_product_mapping_name_custom":true,"a":"headline","F":"bounceIn","C":"2s"},"HEADLINE108":{"option.is_product_mapping_name_custom":true,"a":"headline","F":"bounceIn","C":"2.2s"},*/
